<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       ">

    <!-- -->
    <context:annotation-config/>

    <import resource="classpath:/org/sgo/projectx/persistence/beans.xml"/>

    <!--
        instructs the bean factory that it should be configuring
        instances of classes annotated as @Configurable.
    -->
    <context:spring-configured/>

    <context:component-scan base-package="org.sgo.projectx.services"/>

    <context:property-placeholder system-properties-mode="OVERRIDE"/>

    <tx:annotation-driven/>

</beans>
