<form ng-submit="submit()" class="customer-order-form">
	<div class="formGroup">
		<label>Order number</label>
		<input type="text" ng-model="order.orderNumber" ng-change="changed" id="orderNumber" required/>
	</div>
	<div class="formGroup">
		<label for="customerReference">Customer Reference</label>
		<input id="customerReference" type="text" ng-model="order.customerReference" ng-change="changed"/>
	</div>
	<div class="formGroup">
		<label for="bookingDate">Booking Date</label>
		<div class="control-group input-append">
			<input type="text" ng-model="order.bookingDate" ui-date id="bookingDate">
			<!-- TODO - date format does not seem to work - may be incompatible with latest angular API -->
			<!--<input type="text" ng-model="order.bookingDate" ui-date ui-date-format="dd/MM/yyyy" id="bookingDate">-->
			<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
		</div>
	</div>
	<input type="submit" class="btn btn-primary pull-right"/>
</form>